{% extends 'base.html' %}

{% block container %}
<header>
    <h1>Preguntas de la categoría: {{ categoria.nombre }}</h1>
    <h4>Nombre del usuario: {{ estudiante.nombre }}</h4>
    <h4>Documento (T.I. / C.C.): {{ estudiante.documento }}</h4>
</header>

<style>
  .opcion {
    display: block;
    margin-bottom: 10px;
    background-color: #f0f6fc;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.2s;
  }

  .opcion:hover {
    background-color: #dceeff;
  }

  .opcion input[type="radio"] {
    margin-right: 10px;
    vertical-align: middle;
  }

  .opcion label {
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
  }

  .pregunta {
    margin-bottom: 30px;
  }
</style>


{% if preguntas %}
<form method="post">
  {% csrf_token %}
  {% for pregunta in preguntas %}
    <div class="icfes">
        <div class="info">
            <div class="pregunta">
                <p><strong>{{ forloop.counter }}. {{ pregunta.enunciado }}</strong></p>

            <div class="opcion">
                <label for="pregunta_{{ pregunta.id }}_A">
                    <input type="radio" id="pregunta_{{ pregunta.id }}_A" name="pregunta_{{ pregunta.id }}" value="A">
                    A. {{ pregunta.opcion_a }}
                </label>
            </div>
            <div class="opcion">
                <label for="pregunta_{{ pregunta.id }}_B">
                    <input type="radio" id="pregunta_{{ pregunta.id }}_B" name="pregunta_{{ pregunta.id }}" value="B">
                    B. {{ pregunta.opcion_b }}
                </label>
            </div>
            <div class="opcion">
                <label for="pregunta_{{ pregunta.id }}_C">
                    <input type="radio" id="pregunta_{{ pregunta.id }}_C" name="pregunta_{{ pregunta.id }}" value="C">
                    C. {{ pregunta.opcion_c }}
                </label>
            </div>
            <div class="opcion">
                <label for="pregunta_{{ pregunta.id }}_D">
                    <input type="radio" id="pregunta_{{ pregunta.id }}_D" name="pregunta_{{ pregunta.id }}" value="D">
                    D. {{ pregunta.opcion_d }}
                </label>
            </div>
            </div>
        </div>
    </div>
  {% endfor %}

  <button class="boton" type="submit" >Finalizar categoría</button>
</form>

{% else %}
  <p>No hay preguntas registradas en esta categoría.</p>
{% endif %}

<br>
{% endblock %}
