{% extends 'base.html' %}
{% block container %}
<header>Material de Estudio</header>
<div class="icfes">
    <div class="info">
        
        <div class="simulacro-contenedor">
            <h1>Bienvenid@</h1>

            <h2>Selecciona el subtema a repasar:</h2>
            <div class="categorias-lista">
                {% for material_estudio in materiales_estudio %}
                    <a class="boton-categoria" href="{% url 'study:material_estudio_detail' material_estudio.id %}">
                        {{ material_estudio.titulo }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}